<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}" media="all">
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-background">
            {% include "FrontOfficeBundle:Layout:menu.html.twig" %}
            <div class="header-content header-page">
                <div class="container">
                    <div class="row">
                        <div class="header-page-name col-md-12">
                            <h1>{% block titrePage %}DéTail calendrier top 14{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% block body %}{% endblock %}
    <div id="site-cache" class="site-cache"></div>
</div>
    {% block javascripts %}
        (function($){
        $('#header-menu-title').click(function(e){
        e.preventDefault();
        $('body').toggleClass('width--sidebar');
        });

        $('#site-cache').click(function(e){
        $('body').removeClass('width--sidebar');
        })

        })(jQuery)
    {% endblock %}
</body>
</html>