<div class="header-menu">
    <div class="container">
        <div class="row">
            <div class="menu-logo col-md-2">
                <img src="{{ asset("img/logo/StadeRochelais.png") }}" height="120px" width="94px">
            </div>
            <div class="menu col-md-9">
                <ul>
                    <li class="is-active"><a href="{{ app.request.getBaseURL() }}">Accueil</a></li>
                    <li><a href="{{ app.request.getBaseURL() }}/calendrier">CALENDRIER</a></li>
                    <li><a href="{{ app.request.getBaseURL() }}/effectif">effectif</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>