{% extends "FrontOfficeBundle:Layout:layout-page.html.twig" %}
{% block titrePage %}
    Effectif Stade Rochelais
{% endblock %}
{% block body %}
    <section class="content">
        <section class="header-effectif">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1 col-centered">
                        <div class="effectif-name is-active ">
                            <a href="">Tous</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Talonneur</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Pilier</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">2e ligne</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">3e ligne</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Demi mêler</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Ouvreur</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Centre</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Ailier</a>
                        </div>
                        <div class="effectif-name">
                            <a href="">Arrière</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="content-joueur">
            <div class="container">
                <div class="col-md-3">
                    <div class="block-joueur">
                        <header>
                            <h2>Joueur Blabla</h2>
                        </header>
                        <img class="ombrage" src="C:\wamp64\www\IUT\StadeRochelais\web\img\Joueurs\Stade Rochelais\Jordan Sénéca.jpg">
                        <p><strong>Age : </strong>28 ans
                            <strong>Poids : </strong>95kg
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-joueur">
                        <header>
                            <h2>Joueur Blabla</h2>
                        </header>
                        <img class="ombrage" src="C:\wamp64\www\IUT\StadeRochelais\web\img\Joueurs\Stade Rochelais\Jordan Sénéca.jpg">
                        <p><strong>Age : </strong>28 ans
                            <strong>Poids : </strong>95kg
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-joueur">
                        <header>
                            <h2>Joueur Blabla</h2>
                        </header>
                        <img class="ombrage" src="C:\wamp64\www\IUT\StadeRochelais\web\img\Joueurs\Stade Rochelais\Jordan Sénéca.jpg">
                        <p><strong>Age : </strong>28 ans
                            <strong>Poids : </strong>95kg
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-joueur">
                        <header>
                            <h2>Joueur Blabla</h2>
                        </header>
                        <img class="ombrage" src="C:\wamp64\www\IUT\StadeRochelais\web\img\Joueurs\Stade Rochelais\Jordan Sénéca.jpg">
                        <p><strong>Age : </strong>28 ans
                            <strong>Poids : </strong>95kg
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

{% block javascripts %}
{% endblock %}


